@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


/*------------TOP NAVBAR SETTINGS---------------------------------------------*/

.backgroundNav {
    background-color: #000000 !important;
    color: white !important;
}

.textNav {
    color: white !important;
    font-size: 20px;
    font-weight: 400;
}

/*--- Adiciona espaço entre os items da barra de menu ---*/

.textTitleNav {
    color:firebrick !important;
    font-size: 35px;
    font-family: 'Josefin Sans', 'Bebas Neue',sans-serif;
    font-weight: 800;
    padding-right: 80px; /*--- Adiciona espaço entre o METAVERSO e os items da barra de menu ---*/
    padding-left: 0;
    padding-bottom: 0;

}
/*---Muda a cor do fundo das opções da barra de menu---*/
ul li :hover {
    background-color: dimgray;
}

ul li a:hover:after {
  opacity: 1;
  visibility: visible;
}

/*-----------------------------------------------------*/

.body {
    background-color: black !important;
}

/*---- style para página tecnologia ----*/
.textgeral{
    color: white;
    font-size: 20px;
}

.heightFull {
    height: 80vh;
}

.sectionOne {
    padding-top: 10px;
    background-color: black;
}

.titleSectionOne {
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 34px;
}

.subTitleSectionOne {
    color: white;
    font-size: 30px;
    margin: 0px;
    margin-bottom: 34px;
}

.divContentSection {
    padding: 0px 100px;
}

.btnSectionOneService {
    margin-right: 30px;
    padding: 17px 25px;
    font-size: 20px;
    font-weight: 600;
}

.divTextSectionOne {
    margin-right: 40px;
}

.titleSectionTwo {
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 34px;
    margin-top: 40px;
}

.subTitleSectionTwo {
    color: white;
    font-size: 25px;
    margin: 0px;
    margin-bottom: 34px;
}

.paddingFirstColSectionTwo {
    padding-right: 100px;
    margin-top: 200px;
    margin-bottom: 140px;
}

.paddingFirstColSectionTwoimg{
    margin-left: 200px;
    margin-top: 250px;
}

.paddingFirstColSectionThree {
    padding-right: 100px;
    margin-top: 550px;
    margin-bottom: 100px;
}

/*style do botão para voltar ao início da página*/
#link-top{
    text-decoration: none;
    color: black;
    background-color: white;
    padding : 10px;
    position: fixed;
    right: 80px ;
}
/*                                            */

.divOneSobre{
    text-align: center !important; 
    color: white;
    margin-top: 50px;
}

.titleOneSobre{
    font-size: 50px;
    color: white;
}

.textOneSobre{
    font-size: 30px;
}
.divTwoSobre{
    text-align: center;
    color: white;
    margin-top: 150px;
}
/*                        */


.form-label{
    color: white !important;
}

/*------------------MODAL---------------*/

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* para centralizar verticalmente */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap define o tamanho do modal dentro da classe modal-dialog */
    width:inherit;
 max-width:inherit; 
    height:inherit;
    /* para centralizar horizontalmente */
    margin: 0 auto;
    pointer-events:all;
}

/*.modal-backdrop {
   background-color: black;
}
*/
.popupText {
    color: black !important;
}


/*---- style para a página aplicações ----*/
.titleAplicacoes{
    text-align: center; 
    color: white; 
    margin-top: 20px;
}

.divOneAplicacoes{
    text-align: center; 
    margin-left: 230px; 
    display: flex; 
    color: white; 
    margin-bottom: 200px;
}

.divTwoAplicacoes{
    margin-top: 60px;
}

.card{
    width: 20rem; 
    background-color: black; 
    border-color: white;
}

.divThreeAplicacoes{
    margin-left: 30px; 
    margin-top: 60px;
}

.divTextOne{
    margin-top: 500px; 
    margin-left: 200px;
    margin-right: 200px;
}    

.divTextTwo{
    margin-top: 200px; 
    margin-right: 200px; 
    margin-left: 200px;
}    

.divTitle{
    color: white; 
    text-align: center;
}    

.divTextPrincipal{
    color: white; 
    font-size: 20px; 
    text-align: center;
}    

.imgaplicacoes{
    height: 300px; 
    margin-top: 120px;
}    

.grafaplicacoes{
    width: 400px; 
    height: 300px;
}
/*                                    */
